div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  button {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    margin: 0 1rem;
    border-radius: 0.25rem;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  }
  
  #reset {
    background-color: #f44336;
  }
  
  #text {
    font-size: 2rem;
    margin: 0 1rem;
  }